.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  transform: rotate(-15deg);
  animation: rotate 20s linear 0s infinite;
}
